@use "../../styles/variables" as *;
@use "../../styles/functions" as *;

.main-part {
  margin-left: 0;
  width: 100%;
  height: pxToRem(900);
  background-color: #F1F7F8;
  padding: 4.5rem;
  box-sizing: border-box;
  transition: margin-left 0.4s ease, width 0.4s ease;

  &--menu-open {
    margin-left: 306px;
    width: calc(100% - 306px);
  }
}
