@use "../../styles/variables" as *;
@use "../../styles/functions" as *;

.hospital-info {
    width: 100%;
    
    }
    .hospital-ai{
        width: 100%;
        height: pxToRem(700);
        display: flex;
        flex-direction: column;
        gap: pxToRem(16);
        overflow-y: auto;
    }
