@use "../../styles/variables" as *;
@use "../../styles/functions" as *;

.nav-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: pxToRem(24);
    align-items: center;
    margin-bottom: pxToRem(72);

    p {
        font-family: "Hanken Grotesk", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: pxToRem(48);
        line-height: 1;
        letter-spacing: 0;
        margin: 0;
        padding: 0;
    }

    .nav-bar {
        background-color: white;
        border-radius: pxToRem(50);
        display: flex;
        flex-direction: row;
        box-shadow: 4px 16px 16px 0 rgba(44, 44, 44, 0.1);

        p {
            font-family: "Hanken Grotesk", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: pxToRem(16);
            line-height: pxToRem(24);
            letter-spacing: 0;
            text-decoration: none;
            color: #5F5F5F;
            cursor: pointer;
            transition: color 0.25s ease;

            &:hover {
                color: #1D6287;
            }
        }

        p:nth-child(1) {
            padding: 0;
            margin-left: 0;
            margin-right: 0;
            margin-top: pxToRem(16);
            margin-bottom: pxToRem(16);
            padding-left: pxToRem(24);
            padding-right: pxToRem(16);
            padding-top: 0;
            padding-bottom: 0;
            border-right: 1px solid #5894BC;


        }

        p:nth-child(2) {
            padding: 0;
            margin-left: 0;
            margin-right: 0;
            margin-top: pxToRem(16);
            margin-bottom: pxToRem(16);
            padding-left: pxToRem(16);
            padding-right: pxToRem(16);
            padding-top: 0;
            padding-bottom: 0;
        }

        p:nth-child(3) {
            padding: 0;
            margin-left: 0;
            margin-right: 0;
            margin-top: pxToRem(16);
            margin-bottom: pxToRem(16);
            padding-left: pxToRem(16);
            padding-right: pxToRem(24);
            padding-top: 0;
            padding-bottom: 0;
            border-left: 1px solid #5894BC;
        }
      
    }
}
