@use "../../styles/variables" as *;
@use "../../styles/functions" as *;

.map-panel {
  border-radius: 16px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  overflow: hidden;
  text-align: left;
  box-shadow: 4px 16px 16px 0 rgba(44, 44, 44, 0.1);
  display: flex;
  flex-direction: column;
  width: 100%;
  transition: width 0.4s ease;
}

.map-panel__header {
  display: flex;
  flex-direction: column;
  gap: pxToRem(2);
  padding: pxToRem(8) pxToRem(16);
  border-bottom: 1px solid #e6e6e6;
}
.map-panel__subtitle {
  margin: 0;
  font-size: pxToRem(24);
  color: #5a5a5a;
  text-transform: uppercase;
}

.map-panel__body {
  display: block;
  padding: 0;
  position: relative;
}

.map-panel__image {
  display: block;
  width: 100%;
  height: auto;
}

.map-panel__banner {
  position: absolute;
  top: 1rem;
  left: 1rem;
  display: inline-flex;
  align-items: center;
  gap: pxToRem(8);
  padding: pxToRem(6.08) pxToRem(16);
  max-width: pxToRem(171);
  background-color: #F1F7F8;
  border: 1px solid #9FCDE5;
  border-radius: pxToRem(16);
  z-index: 1;
}

.map-panel__banner-icon {
  width: pxToRem(16);
  height: pxToRem(16);
}

.map-panel__banner-text {
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 600;
  font-size: pxToRem(12);
  text-transform: uppercase;
  letter-spacing: 0.04em;
  color: #2C2C2C;
  white-space: nowrap;
}

.map-panel__placeholder {
  margin: 0;
  color: #7a7a7a;
  font-size: pxToRem(14);
}
